<header></header>
<div class="container">
    <h1 class="text-center">About Page</h1>

    <section class="question my-5">
        <h2>What did Daniel learn from this full stack stack application?</h2>
        <p class="my-3">
            I invested about 300 hours into this project for over a year to deepen my skills as I integrate a
            front-end
            project using
            <b>Angular 19</b> plugged into a backend Web API using
            <b>ASP.NET Core 8.0</b> and other technologies such as <b>SQLServer, Azure DevOps.</b> Also <b>clean
                architecture</b> concepts. This project solved a problem I had while doing uber eats delivery.
        </p>

        <p>I have three repositories in total in the creation of this project that can be viewed in Azure DevOps.
        </p>

        <p>First repo is titled <em>'Uber-Eats-Trip-Delivery-Portfolio-Project'</em> in my Azure DevOps
            is a pdf scrapper written in <b>C#</b> to grab information from 223 pdfs, convert them into text files,
            and
            lastly
            compile
            them all into a single CSV file. Then I used that csv file to create <b>business analytics</b> using
            <b>Power BI.</b>
        </p>

        <p>
            Second repo is titled <em>'TripInfo'</em> that is a <b>RESTful Web API</b> using <b>.NET
                8.0</b> that
            uses <b>CRUD</b> operations to manipulate <b>JSON</b> as a <b>business service</b> for <b>async
                methods</b>
            that
            prints to
            the
            development console different calculations for analyzing delivery trip data. Endpoints were tested using
            <b>Postman.</b>
        </p>

        <p>Third repo is titled <em>'Frontend'</em> and by using the login details, you can see JSON retrieval
            from seeded data from a SQLServer cloud database. I hosted this entire application using Azure services.
        </p>


        <section class="text-center my-5">
            <h6 class="fw-light">Login Information to access 'Travel Details' tab to see JSON</h6>
            <p class="small">user name : guest </p>
            <p class="small">password : 123</p>
        </section>
    </section>

    <section class="question">
        <h2>What does Daniel think a good software developer spends their time on?</h2>
        <p class="my-3">
            <em>I think a good developer solves solutions with both minimal technical effort and maximum tact.</em>
        </p>
        <p>Regardless of what role I am in ast an organization, <b>I must deliver business value.</b>
            There are many wayss to provide that value. Creating <b>user stories</b> that solve actual problems that
            real
            users
            have.</p>
        <p><b>Testing the software</b> to ensure that it behaves as expected to meet requirements.</p>
        <p><b>Deploying continual releases that are in essence, a minimal viable solution.</b> A minimal viable
            solution
            is
            that of which the software developer created a sufficient solution that immediately addresses the
            bottlenecks that the actual user is facing; opposed to creating features for the sake of producing code
            that does not get used by users.
        </p>
    </section>

    <section class="question my-5">
        <h2>What does Daniel aspire for his future employment at a company?</h2>
        <p class="my-3">I aspire to work on a team and create software that will be used by many people.</p>
        <p>I think <b>people who work together are much more productive</b> to creating and maintaining complex
            systems.
        </p>
        <p>I look forward to spending years getting to deeply know a code base so that <b>I can inform myself about
                what
                good
                architecture and design looks like.</b></p>
        <p>Because any technology looks great and works well out of the box.
            But
            what happens
            after 4 to 7 years of maintaining that project or building adjacent ones? <b>I want to be there when
                that
                happens.</b></p>
    </section>
</div>
<footer></footer>