li {
    float: left;
    padding-right: 30px;
}

ul {
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: bold;
    color: yellow !important;
}
