<main class="container">
  <div class="text-center mt-4 mb-4">
    <h1>React Portfolio</h1>
  </div>

  <section>
    <body>
      <div class="images">
        <a href="https://nextjs-react.netlify.app/" target="_blank">
          <img src="../../assets/nextjs-project.jpg" alt="Next.js Project" />
        </a>
      </div>

      <p class="link-row">
        <strong>please click on the image above to view the web app.</strong>
        <a
          href="https://github.com/alphatee/frontend-app"
          target="_blank"
          class="git-link"
        >
          Git
        </a>
      </p>

      <div class="mt-4 mb-4 text rounded">
        <div class="text-center mt-3 mb-3">
          <h3>Perspective I Gained</h3>
        </div>

        <span>
          <div>
            <h5><strong>Tools are just Tools</strong></h5>
          </div>

          <p>
            After following along a tutorial for Nextjs, Tailwind, and
            TypeScript I got perspective.
          </p>

          <p>
            I am agnostic about frontend frameworks. Angular compared to React
            had opinionated difference on file structure and how to go about
            building a project. Overall, I am a better developer going through
            that, to reason and process how to build a product.
          </p>

          <p>
            Also, I found alot of value from TypeScript and Tailwind CSS because
            they are much polished compared to their predecessors. Type safety
            and having a library full of utility of common use behavior made
            project development easier, cleaner, and easier to trouble shoot
            issues.
          </p>

          <p>
            In the end, any framework can get a job done. Although there are
            considerations from a architectural and business standpoint. I can
            say for certain, that that the upsides for TypeScript far outweigh
            using JavaScript. I do not want to reinvent the wheel but I also
            rather use a tool that is objectively more useful. TypeScript is to
            JavaScript as C++ is to C. The difference is an upgrade because of
            how powerful the technology is evolving to solve problems in a
            Object Oriented Programming way.
          </p>
        </span>
      </div>
    </body>
  </section>

  <section>
    <body>
      <div class="images mt-5">
        <a
          href="https://reactjs-movie-application.netlify.app/"
          target="_blank"
        >
          <img src="../../assets/reactjs-movie-app.jpg" alt="Next.js Project" />
        </a>
      </div>

      <p class="link-row">
        <strong>please click on the image above to view the web app.</strong>
        <a
          href="https://github.com/alphatee/React-Movie-Tutorial/tree/main/movie-frontend-app"
          target="_blank"
          class="git-link"
        >
          Git
        </a>
      </p>

      <div class="mt-4 mb-4 text rounded">
        <div class="text-center mt-3 mb-3">
          <h3>Absorbing Concepts</h3>
        </div>

        <span>
          <div>
            <h5><strong>What is was my goal in this project?</strong></h5>
          </div>

          <p>
            This is a reactjs project I copied directly from a youtuber. <br> I had a
            simple goal. <br> Walkthrough a traditional reactjs project.
          </p>

          <div class="mt-2">
            <h5><strong>Lessons Learned</strong></h5>
          </div>

          <p>
            I learn security. Using a free API, make use of Netlify (hosting
            service) environment variables, create a .env file, have it ignored
            on Git, and use a vite friendly api convention to hide the secret
            key. Also, get an introduction on using state management and
            useEffect().
          </p>

          <div class="mt-2">
            <h5><strong>Where do I go from here?</strong></h5>
          </div>

          <p>
            After dabling in Nextjs and Reactjs for exposure.
            I am going back to Angular to explore deeper knowledge with the current project
            you are looking at, my portfolio website.
          </p>

          <strong>Diving deeper into HTML, CSS.</strong>
          <br>
          <strong>Learning more about TypeScript by using Angular</strong>
          <br>
          <strong>Learning more about JavaScript by doing LeetCode problems.</strong>
        </span>
      </div>
    </body>
  </section>
</main>
